*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ;
}
.srchcard{
    margin: 40px auto;
    background: linear-gradient(to right ,#72c2d6 ,#4ac797, rgb(10, 97, 68) );
    align-content: center;
    justify-content: center;
    padding: 40px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 8px rgba(58, 113, 150, 2);
    display: flex;
    width: 100%;
    max-width: 1200px;
}
.srchform{
    display:flex;

    width: 100%;
}
.srch{
    font-size: 14px;
    padding: 30px ;
    display: flex;
    border: none ;
    outline: none;
    flex: 1;
    border-radius: 30px;
    height: 60px;
    font-size: x-large;
    font-family: Roboto;
    background-color:rgb(248, 248, 248) ;
}
.srchbutton{
    height: 60px;
    width: 60px;
    margin: auto;
    


}
#srchlist {
    position: absolute;
    left: 125px;
    top: 20.5%;
    width: 500px;
    background-color: rgb(207, 207, 207);
    border: 5px solid rgb(10, 97, 68);
    border-radius: 10px;


    padding: 10px;
    margin: 0;
    list-style: none;
    

}
#srchlist li{

    padding: 10px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size:larger;

}
#srchlist li:hover{


    background-color: rgb(10, 97, 68) ;
    border-radius: 10px;

}